.app-bar__container.app-bar--sticky
  position: sticky
  top: 0
  z-index: 210

.app-bar
  &.theme--dark
    border-bottom: 1px solid rgba(255, 255, 255, 0.08)
  &.theme--light
    border-bottom: 1px solid rgba(0, 0, 0, 0.08)
  .v-toolbar__title
    font-size: 16px
    font-weight: 500
    max-width: 50%
  .app-bar__left-actions
    position: absolute
    left: 3%
  .app-bar__right-actions
    position: absolute
    right: 3%

.app-bar--fixed + div
  padding-top: 75px

@css {
  @supports (padding-left: max(0px)) {
    .top-bar .v-toolbar__content {
      padding-left: max(16px, env(safe-area-inset-left));
    }
  }
}
.top-bar .top-bar__actions
  display: flex
  align-self: flex-end
  padding-bottom: 6px
  div
    margin-left: 6px
