.select-menu__trigger
  &.theme--light
  .v-list-item__icon i
      color: #c4c4c6
    .select-menu__selected--text
      color: #8a8a8d
  &.theme--dark
    .v-list-item__icon i
      color: #5a5a5e
    .select-menu__selected--text
      color: #98989e
