$card-group-rounding = 12px
$card-group-x-padding = 16px

.card__group
  margin: 16px

  div:not(.v-item-group)
    .v-list .v-list-item
      padding-left: $card-group-x-padding
      padding-right: $card-group-x-padding

    &:first-child
      .v-list
      .v-list ::before
      .v-list .v-list-item .v-ripple__container
        border-top-left-radius: $card-group-rounding !important
        border-top-right-radius: $card-group-rounding !important
    &:last-child
      .v-list
      .v-list ::before
      .v-list .v-list-item .v-ripple__container
        border-bottom-left-radius: $card-group-rounding !important
        border-bottom-right-radius: $card-group-rounding !important

  .v-list:not(.card--icon) hr
    margin-left: $card-group-x-padding !important
  .v-list.card--icon hr
    margin-left: 47px !important

.list__group
  & + .list__group
    margin-top: 16px

  .card
    &.card--top
      border-top: 1px solid hsla(0, 0%, 100%, .12)
    &.card--bottom
      border-bottom: 1px solid hsla(0, 0%, 100%, .12)
  hr
    margin-left: 16px !important

.v-list .v-divider
  margin-left: 16px

.card__header
  font-size: 13px
  letter-spacing: .0333333333em
  line-height: 1.25rem
  text-transform: uppercase
  color: #616161

.card__description
  margin-top: 9px
  margin-left: 12px
  font-size: 12.3px
  color: var(--v-list-description-base)

.card
  padding: 0
  background: none !important
  &.card--extendable .v-list-item .row
    align-items: start !important

  .v-list-item__action i
    color: var(--v-action-icon-base)
  .action__text
  input::placeholder
  textarea::placeholder
    color: var(--v-action-text-base)

  .subtitle-1
    padding-top: 10px
    padding-bottom: 10px
    min-height: 20px
    & + .v-input .v-input__control .v-input__slot
      padding-left: 12px !important

  .v-list-item .row .v-input .v-input__control .v-input__slot
    padding: 0

  textarea
    padding-top: 2.2px
