.list__group + .list__group
  margin-top: 16px

.v-list .v-divider
  margin-left: 16px

.card__header
  font-size: 13px
  letter-spacing: .0333333333em
  line-height: 1.25rem
  text-transform: uppercase
  color: #616161

.card__description
  margin-top: 9px
  margin-left: 12px
  font-size: 12.3px
  color: var(--v-list-description-base)

.card
  padding-top: 0
  padding-bottom: 0
