.list__group + .list__group
  margin-top: 16px

.v-list .v-divider
  margin-left: 16px

.card__header
  font-size: 13px
  letter-spacing: .0333333333em
  line-height: 1.25rem
  text-transform: uppercase
  color: #616161

.card__description
  margin-top: 9px
  margin-left: 12px
  font-size: 12.3px
  color: var(--v-list-description-base)

.card
  padding-top: 0
  padding-bottom: 0
  border-radius: 0
  &.card--top
    border-top: 1px solid hsla(0, 0%, 100%, .12)
  &.card--bottom
    border-bottom: 1px solid hsla(0, 0%, 100%, .12)

  &.theme--light
    .v-list-item__icon i
      color: #c4c4c6
    .action__text
    input::placeholder
    textarea::placeholder
      color: #8a8a8d
  &.theme--dark
    .v-list-item__icon i
      color: #5a5a5e
    .action__text
    input::placeholder
    textarea::placeholder
      color: #98989e
