body
  overflow-x: hidden
a
  text-decoration: none

.v-bottom-sheet
  height: 90% !important

.v-input.v-text-field--solo-flat .v-input__control .v-input__slot
  background: var(--v-sheets-base)
.v-input--switch .v-input__control .v-input__slot
  margin-bottom: 0 !important

.page-body
  margin-left: 0
  margin-right: 0

  padding-left: 0
  padding-right: 0

  row col, .list__group, ^[0]
    & > span
    & > h2
    & > p
    & > .v-list:not(.card)
      margin-left: 12px
