body
  overflow-x: hidden
a
  text-decoration: none

.v-input.v-text-field--solo-flat .v-input__control .v-input__slot
  background: var(--v-sheets-base)
.v-input--switch .v-input__control .v-input__slot
  margin-bottom: 0 !important
.v-text-field__slot textarea
  align-self: center

.v-navigation-drawer__content .v-list .v-list-item--active
  color: inherit !important

.page-body
  margin-left: 0
  margin-right: 0

  padding-left: 0
  padding-right: 0

  row col, .list__group, ^[0]
    & > span
    & > h2
    & > p
    & > .v-list:not(.card)
      margin-left: 12px

#notes-textarea
  margin-top: 0

[v-cloak]
  display: none

.box-icon
  border-radius: 5px
  padding: 2px
  height: 28px !important
  .v-icon
    color: white !important
