body
  overflow-x: hidden
a
  text-decoration: none

.v-bottom-sheet
  height: 90% !important;

.v-list .v-divider
  margin-left: 16px

.container.px-0 h2
.container.px-0 .caption
  margin-left: 12px


.v-input--switch .v-input__control .v-input__slot
  margin-bottom: 0 !important

