.v-content__wrap
  padding-left: env(safe-area-inset-left)
  padding-right: env(safe-area-inset-right)

@css {
  @supports(padding: max(0px)) {
    .v-bottom-navigation {
      height: min(56px, env(safe-area-inset-bottom)px) !important;
    }
    .v-bottom-navigation .v-btn {
      margin-top: 15px;
      margin-bottom: max(15px, env(safe-area-inset-bottom));
      height: auto;
    }
  }
}
